<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/index.css' />
    <title>Mongoose Flights</title>
</head>
<body>
    <nav>
        <h2>All Flights</h2>
        <a href="/flights/new">Add Flight</a>
    </nav>
    <table>
        <thead>
            <tr>
                <th>Airline</th>
                <th>Flight</th>
                <th>Airport<a class="sort-btn" href="/flights?sortBy=airport&sortDir=1">+</a><a class="sort-btn" href="/flights?sortBy=airport&sortDir=-1">-</a></th>
                <th>Departs<a class="sort-btn" href="/flights?sortBy=departs&sortDir=1">+</a><a class="sort-btn" href="/flights?sortBy=departs&sortDir=-1">-</a></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% flights.forEach(function(flight) { %>
                <tr <%- flight.departs < new Date() ? 'class="passed-flights"' : '' %>>
                    <td><%= flight.airline %></td>
                    <td><%= flight.flightNo %></td>
                    <td><%= flight.airport %></td>
                    <td><%= flight.departs %></td>
                    <td><a id="detail-btn" href="/flights/<%= flight._id %>">Details</a></td>
                </tr>
                <% }) %>
        </tbody>
    </table>

</body>
</html> 