<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/show.css'>
    <title>Mongoose Flights</title>
</head>
<body>
    <nav>
        <a href="/flights/<%= flight._id %>/tickets/new">Add ticket</a>
            <h2>Flight Number: 
                <% if(flight.flightNo) { %>
                <%= flight.flightNo %>
                <% } %>
            </h2>
        <a href="/flights">All Flights</a>
    </nav>
    
    <table>
        <tbody>
            <tr>
                <th>Airline</th>
                <td><%= flight.airline %></td>
            </tr>
            <tr>
                <th>Departure Airport</th>
                <td><%= flight.airport %></td>
            </tr>
            <tr>
                <th>Departure Time</th>
                <td><%= flight.departs %></td>
            </tr>
        </tbody>
    </table>
    <table>
        <thead>
            <th>Arrival Airport</th>
            <th>Estimated Arrival Time</th>
        </thead>
        <tbody>
            <% if (flight.destination.length) { %>
            <% flight.destination.forEach(function(d) { %>
            <tr></tr>
            <tr>
                <td><%= d.airport %></td>
                <td><%= d.arrival %></td>
            </tr>
            <% })} %>
        </tbody>
    </table>
    <table>
        <thead>
            <th>Seat</th>
            <th>Price</th>
        </thead>
        <tbody>
        <% if (tickets) { %>
        <% flight.tickets.forEach(function(ticket) { %>
        <tr>
            <td><%= ticket.seat %></td>
            <td><%= ticket.price %></td>
            <button type="button" >X</button>
        </tr>
        <% })} %>
    </table>
    <br>
    <form action="/flights/<%= flight._id %>/destinations" method="POST">
        <label>Airport:
            <select name="airport">
                <% flight.schema.path('airport').enumValues.forEach(function(a) { %>
                <% if(flight.airport !== a) { %>
                <% console.log(a) %>
                <option value="<%= a %>"><%= a %></option>
                <% }}) %>
            </select>
        </label>
        <label>Arrival:
            <input type="datetime-local" name="arrival">
        </label>
        <input type="submit" value="Add Details">
    </form>
</body>
</html>